@charset "utf-8";
/* CSS Document */

*{padding:0;margin:0}
a{text-decoration:none;}
li{list-style:none;}
textarea{resize:none;}
img,input,select,textarea{vertical-align:top;}
input,select,textarea{outline:none;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.clearFix:after{content:"";display:block;clear:both;}
.clearFix{zoom:1;}



.wrapper{width:980px;font-size:14px;color:#333;font-family:微软雅黑;margin:0 150px 0 0;}



body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,li,span,a,b,em,i,strong,img{ padding:0;margin:0;}

body{ width:1200px; margin:0 auto;}
